body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra{
    height: 4px;
    background-color: #33aadd;
}
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
}

.highlight {
    color: rgb(0, 132, 255);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: skyblue;
}

.hero {
    background-image: url('images/cabecera.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}


.subscribe {
    background-color: #2c2a2a;
    color: #fff;
    text-align: center;
    padding: 30px;
}

.subscribe form {
    display: flex;
    justify-content: center;
}

.subscribe input {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
}

.subscribe button {
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    border: none;
    cursor: pointer;
}

.services {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 50px 20px;
}

.service-box{
    background-color: #dfe4e6;
    color: #000000;
    width: 800px;
    text-align: left;
    padding: 5px;
    justify-content: column;
    margin: 5px;
}

.sidebar {
    background-color: #34444b;
    color: #fff;
    float: left;
    width: 20%;
    height: 30%;
    text-align: left;
    padding: 10px;
    margin: 2%;
}

.service img {
    width: 80px; /* Ajusta esto según necesites */
    height: auto;
}

footer {
    background-color:  rgb(0, 153, 255);
    color: #fff;
    text-align: center;
    padding: 30px;
    clear: both;
}

h3 {
    margin-left: 1%;
}

.cuadroArriba{
    background-color: #333;
    color: #fff;
    position: absolute;
    width: 100%;
    display: flex;
    
}

button{
    background-color: #f00101;
    color:#fff;
    height: 50px;
    width: 100px;
    position: relative;
    text-align: center;
    margin: 10px;
}

input{
    position: relative;
    height: 30px;
    width: 250px;
    margin: 15px;
}
h2{
    margin-right: 30%;
    margin-left: 150px;
}